<h1>New Student</h1>

<%= render 'form', student: @student %>

<% if session[:created_team] %>
<% @team=Team.find(session[:team])%>
<%= link_to 'Back',  @team , method: :delete%>
<%else%>
<%= link_to 'Back', :back %>
<%end%>
